.bodyBG {
    background-color: #aee7e8;
}

/* .col {
    
    text-align: center;

} */


.myLeftBtn {
    float: left;
}


.box {
    position: absolute;
    z-index: 1;
    height: 40%;
    width:30%;
    background-color: aquamarine;
    float: left;
    margin-left: 0px;
}